form {
    max-width: 300px;
    margin: 20px;
    background: grey;
    padding: 20px;
    border-radius: 10px;
    /* Arrondit les bords */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(to right, dimgrey 70%, transparent 30%), url('tea.jpg') no-repeat;
    background-size: cover;
}

input[type="text"],
input[type="number"],
select {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    /* Arrondit les bords des zones de texte */
    border: 1px solid #ccc;
    /* Ajoute une bordure */
    box-sizing: border-box;
    /* S'assure que la taille totale reste la même avec la bordure et le padding */
}

input[type="radio"] {
    margin-right: 5px;
}

h1 {
    margin-top: 20px;
    color: black;
    font-family: poppins;
}

button {
    background-color: #4CAF50;
    border-radius: 10px;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    /* Remove the border */
}

button:hover {
    background-color: #45a704;
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #333;
    padding: 10px 0;
    color: whitesmoke;
    font-family: poppins;
}